version: '2'

services:
  minio:
    image: minio/minio:RELEASE.2023-09-30T07-02-29Z
    command: ['server', '--console-address', ':9090']
    volumes:
      - /opt/volumes/minio/minio:/mnt/data
    ports:
      - 9000
      - 9090
    environment:
      - MINIO_ROOT_USER=$USER
      - MINIO_ROOT_PASSWORD=$PASS
      - MINIO_SCHEME=http
      - MINIO_SERVER_URL=$SERVER_URL
      - MINIO_VOLUMES="/mnt/data"
    networks:
      - web
    labels:
      - "traefik.http.routers.$SUBDOMAIN.rule=Host(`$SUBDOMAIN.$DOMAIN`)"
      - "traefik.http.routers.$SUBDOMAIN.middlewares=https-only"
      - "traefik.http.services.$SUBDOMAIN.loadbalancer.server.port=9000"
      - "traefik.http.routers.$SUBDOMAIN2.rule=Host(`$SUBDOMAIN2.$DOMAIN`)"
      - "traefik.http.routers.$SUBDOMAIN2.middlewares=https-only"
      - "traefik.http.services.$SUBDOMAIN2.loadbalancer.server.port=9090"
      - "traefik.enable=true"

networks:
  web:
    external: true
