version: "3"

services:
  matomodb:
    image: mariadb:10.11
    command: --max-allowed-packet=64MB
    restart: unless-stopped
    volumes:
      - /opt/volumes/matomo/db:/var/lib/mysql:Z
    networks:
     - matomo

  matomo:
    image: matomo:5
    restart: unless-stopped
    links:
      - matomodb
    volumes:
      - /opt/volumes/matomo/html:/var/www/html:z
    networks:
      - matomo
      - web
    labels:
      - "traefik.http.routers.matomo.rule=Host(`$SUBDOMAIN.$DOMAIN`)"
      - "traefik.http.services.matomo.loadbalancer.server.port=80"
      - "traefik.enable=true"

networks:
  web:
    external: true
    name: web
  matomo:
    name: matomodb
