version: "2"

services:
  linkstack:
    image: linkstackorg/linkstack:latest
    environment:
      TZ: 'America/Chicago'
      SERVER_ADMIN: 'crueber@gmail.com'
      HTTP_SERVER_NAME: "`$SUBDOMAIN.$DOMAIN`"
      HTTPS_SERVER_NAME: "`$SUBDOMAIN.$DOMAIN`"
      LOG_LEVEL: 'info'
      PHP_MEMORY_LIMIT: '256M'
      UPLOAD_MAX_FILESIZE: '8M'
      PUID: 1000
      PGID: 1000
    volumes:
      - linkstack:/htdocs
    ports:
      - "80"
    restart: unless-stopped
    networks:
      - default
      - web
    labels:
      - "traefik.http.routers.$SUBDOMAIN.rule=Host(`$SUBDOMAIN.$DOMAIN`)"
      - "traefik.http.services.$SUBDOMAIN.loadbalancer.server.port=80"
      - "traefik.https.services.$SUBDOMAIN.loadbalancer.server.port=443"
      - "traefik.http.routers.$SUBDOMAIN.middlewares=https-only"
      - "traefik.enable=true"

networks:
  web:
    external:
      name: web

volumes:
  linkstack:

